.horse-race-lamp-container {
    overflow: hidden;
    font-size: 0; /* 消除 inline-block 间歇 */
    .horse-race-lamp {
        display: inline-block;
        font-size: 1rem; /* 恢复字体大小 */
        // @keyframes HorseRaceLamp {
        //     // 事实上下面定义的动画并没有实际的作用，只是供后期更换的占位符
        //     0% {
        //         transform: translateX(-100%);
        //     }
        //     100% {
        //         transform: translateX(100%);
        //     }
        // }
    }
}
