
ul li p[data-v-945c7832] {
  text-indent: 1rem;
}
ul li p[data-v-945c7832]:first-child {
  margin-top: 1rem;
}
ul li ul[data-v-945c7832] {
  margin-left: 1rem;
}
ul li ul li[data-v-945c7832]:last-child {
  margin-bottom: 1rem;
}

