
.field-container,
.field-container .field-content {
  height: calc(100% - 90px);
}
.field-container ul {
  color: #fff;
}
.field-container .field-header {
  padding: 3rem 3rem 1rem 3rem;
  height: 90px;
  line-height: 26px;
}
.field-container .field-content {
  padding: 0 3rem 3rem 3rem;
}
.field-container .outer-container {
  overflow: hidden;
  width: 240px;
  height: 100%;
}
.field-container .inner-container {
  overflow-x: hidden;
  overflow-y: scroll;
  width: 257px;
  height: 100%;
}
.field-container .inner-container::-webkit-scrollbar {
  display: none;
}
.field-container .ivu-table-wrapper,
.field-container .ivu-table,
.field-container .ivu-table-body {
  height: 100%!important;
}
.field-container .ivu-table-body {
  margin-right: -17px;
}
.field-container .ivu-table-row-hover,
.field-container .ivu-menu-item:hover,
.field-container .ivu-menu-submenu-title:hover {
  background-color: gray;
}
.field-container .ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
  background: gray;
}
.field-container .ivu-table-wrapper,
.field-container .ivu-table,
.field-container .ivu-table:after,
.field-container .ivu-table::before,
.field-container .ivu-table td {
  color: #fff;
  background: transparent;
  border: none;
}

