@text-muted:                  @gray-600 !important;
@dark:                        @black; 

// 绝对居中
.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.position-absolute-centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.position-absolute-centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// 配合绝对定位
.top-0 {
    top: 0;
}
.left-0 {
    left: 0;
}
.bottom-0 {
    bottom: 0;
}
.right-0 {
    right: 0;
}

// 边距
.m-sm {
    margin: 5px !important;
}
.ml-sm {
    margin-left: 5px !important;
}
.mr-sm {
    margin-right: 5px !important;
}
.mt-sm {
    margin-top: 5px !important;
}
.mb-sm {
    margin-bottom: 5px !important;
}
.p-sm {
    padding: 5px !important;
}
.pl-sm {
    padding-left: 5px !important;
}
.pr-sm {
    padding-right: 5px !important;
}
.pt-sm {
    padding-top: 5px !important;
}
.pb-sm {
    padding-bottom: 5px !important;
}
.m-p-0 {
    p {
        margin: 0;
    }
}

// 滚动条
// 滚动条整体样式
.an-scrollbar::-webkit-scrollbar {
    // 高宽分别对应横竖滚动条的尺寸
    width: 4px;     
    height: 4px;
}
// 滚动条里面小方块
.an-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
}
// 滚动条里面轨道
.an-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

// 横线
.divider-line {
    display: block;
    clear: both;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: @dark;
}

// 重写 pre 标签样式
.custom-pre {
    display: inline-block;
    margin: 0;
    padding: .5rem;
    text-indent: 0;
    border-radius: .5rem;
    vertical-align: middle;
    color: @white;
    background: @dark;
}

// 禁用
.forbidden {
    pointer-events: none;
    user-select: none;
    cursor: no-drop;
    color: @text-muted;
}

// 冒号
.content-colon::after {
    content: '：';
}

// 鼠标指针放在一个元素边界范围内时所用的光标形状
.cursor-pointer {
    cursor: pointer;
}

// 首行缩进
.text-indent {
    text-indent: 32px;
}

// 网格布局
.d-grid {
    display: grid !important;
}
.d-inline-grid {
    display: inline-grid !important;
}
