// 组件中书写了样式，这里只列出带颜色的类
 @searchPre:                  @gray-600;
 @bg-z-index-app:           rgba(0, 0, 0, .5);
 @mark:                       @red;

// app 的全局搜索
.search-container {
    background-color: @bg-z-index-app;
    .custom-pre {
        background: @searchPre;
    }
}
.mark { // 高亮搜索结果中的关键字
    color: @mark;
}

// ArticleList.vue
.article-list-badge-container {
    background-color: @white;
}
.bg-active { // tag 激活状态的按钮
    background: @gray-400 !important;
}
